.react-background
  background-image: url('../images/react_background.png')

.lerna-background
  background-image: url('../images/lerna.png')

.yoga-background
  background-image: url('../images/yoga.png')

.pdfkit-background
  background-image: url('../images/pdfkit.png')
