@import './backgrounds.styl'
@import 'prism/themes/prism-okaidia.css'

body
  font-size: 80%;

h1, h2
  margin-bottom: 6%;

ul, ol
  margin: 0 15%;
  opacity: 0.5;

.file-name
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 10px;

pre.code-snippet
  min-width: 35%;
  font-size: 13px;
  round-border: 5px
  border 2px dashed rgba(255,255,255,0.7)

.flex
  display: flex;

.flex-grow-1
  flex: 1;

.column
  flex-direction: column;

.align-center
  align-items: center;

.mt2
  margin-top: 3em;

.fs10
  font-size: 10px

.fs12
  font-size: 12px

.italic
  font-style: italic

.right
  float: right;

.gray
  opacity: 0.4

.min-width-none
  min-width: 0% !important

.big
  width: 600px

.border-white
  border: 1px solid white

.package
  width: 200px;
  padding: 20px 0px;
  round-border: 5px;
  margin-right: 20px;
  border 2px dashed rgba(255,255,255,0.7);

.package h4
  font-size: 12px;

.package ul
  margin: 5px;
  font-size: 12px;

.social
  display: flex
  align-items: center
  margin-bottom: 6px

  img
    width: 30px
    display: inline
    margin-right: 20px
  h4
    display: inline
    font-size: 13px
