@import './backgrounds.styl'
@import 'prism/themes/prism-okaidia.css'

body
  font-size: 80%;

h1, h2
  margin-bottom: 6%;

ul
  margin: 0 15%;
  opacity: 0.5;

.file-name
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 10px;

pre.code-snippet
  min-width: 35%;
  font-size: 13px;
  round-border: 5px
  border 2px dashed rgba(255,255,255,0.7)

.social
  display: flex
  align-items: center
  margin-bottom: 6px

  img
    width: 30px
    display: inline
    margin-right: 20px
  h4
    display: inline
    font-size: 13px
