doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title react-pdf

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article
      section
        h1 react-pdf
        h3 React renderer for creating PDF files on the browser, mobile and server
      
      section
        h2 Think React from out of the box
      
      section
        h2 What's a renderer?

      section
        h3 Thanks!

    script(src='build/build.js')
