doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title react-pdf

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article
      section
        h1 react-pdf
        h3 React renderer for creating PDF files on the browser, mobile and server
      
      section
        h1 About
      
      section
        h3 Where all started
        img.big.border-white(src="./images/think-react.png")
        p.fs12.italic 20/10/16

      section
        h3 ReactConf
        img.big.border-white(src="./images/reactconf.jpg")
        p.fs12.italic Lin Clark - A Cartoon Intro to Fiber - 2017
      
      section
        h3 Reddit and Echojs

      section
        h3 Stars

      section
        h3 Receptions

      section
        h1 What react-pdf can do?
        
      section
        h3 The past

      section
        h3 The present

      section
        h3 The future

      section
        h1 The technical stuff
      
      section(data-bespoke-backdrop='react-background')
        h2 React + Fiber

      section
        h3 What's a parser?

      section
        h3 What's a renderer?

      section
        h3 What's fiber?

      section(data-bespoke-backdrop='react-background')
        h2 React Primitives

      section(data-bespoke-backdrop='lerna-background')
        h2 Lerna

      section(data-bespoke-backdrop='yoga-background')
        h2 Yoga

      section(data-bespoke-backdrop='pdfkit-background')
        h2 PDFKit

      section
        h2 Demo

      section
        h3 Thanks!

    script(src='build/build.js')
